#app
  height 100%;

.overflow-hidden {
  overflow: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: santas-gray transparent;
}

::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb,
.news-add__text-main::-webkit-scrollbar-thumb {
  background-color: eucalypt;
}

.main-layout__sidebar::-webkit-scrollbar-thumb {
  background-color: comet;
}
