.edit
  position absolute
  top 40px
  right 40px
  z-index 10
  display flex
  align-items center
  .simple-svg
    width 20px
    height 20px
  &--small
    top 0
    right 0
    .edit__icon, .simple-svg
      width 10px
      height 10px
    .edit__icon + .edit__icon
      margin-left 5px
  @media (max-width breakpoint-xxl) 
    top 20px
    right 20px
    &--small
      right 0
      top 0

.edit__icon
  background-color: transparent
  width 20px
  height 20px
  cursor pointer
  &--remove
    &:hover,
    &:focus-visible
      .simple-svg > path
        fill: red
  &--edit,
  &--recover
    &:hover,
    &:focus-visible
      .simple-svg > path
        fill: rgb(6, 199, 6)
  .simple-svg path
    transition: fill 0.3s

  &+&
    margin-left 10px