@import '../base/vars.styl';

.search__label {
  font-size: 15px;
  line-height: 22px;
  color: comet;
  display: block;
  margin-bottom: 5px;
}

.search__input {
  border: 1px solid grey-3;
  box-sizing: border-box;
  height: 45px;
  padding: 0 15px;
  display: block;
  width: 100%;
}

.search__row {
  display: flex;
  align-items: center;
}

.search-defis {
  margin: 0 10px;
  font-weight: 300;
  font-size: 13px;
  color: #A4A4B8;
}
